body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
}

#head {
	transform: rotate(-11deg) translate(-132px, -217px);
	position: absolute;
	z-index: 1;
	/* animation: head 0.6s 0.5s infinite normal; */
}

@keyframes head {
	0%{
		transform: rotate(3deg) translate(-126px, -225px);
	}
	10%{
		transform: rotate(1deg) translate(-129px, -236px);
	}
	20%{
		transform: rotate(-4deg) translate(-133px, -216px);
	}
	30%{
		transform: rotate(-11deg) translate(-132px, -217px);
	}
	100%{
		transform: rotate(3deg) translate(-126px, -225px);
	}
}


#right-upper-arm {
	height: 76px;
	width: 15px;
	background-color: black;
	/* animation: right-upper-arm 0.6s 0.5s infinite normal; */
	transform: rotate(47deg) translate(-29px, 62px);
	border-radius: 15px;
	position: absolute;
}

@keyframes right-upper-arm {
	0%{
		transform: rotate(85deg) translate(-32px, 74px);
		height: 76px;
	}
	10%{
		transform: rotate(67deg) translate(-51px, 61px);
		height: 76px;
	}
	20%{
		transform: rotate(69deg) translate(-17px, 64px);
		height: 76px;
	}
	30%{
		transform: rotate(47deg) translate(-29px, 62px);
		height: 76px;
	}
	100%{
		transform: rotate(85deg) translate(-32px, 74px);
		height: 76px;
	}
}

#right-lower-arm {
	height: 36px;
	width: 15px;
	background-color: black;
	/* animation: right-lower-arm 0.6s 0.5s infinite normal; */
	transform: rotate(134deg) translate(109px, 9px);
	border-radius: 15px;
	position: absolute;
}

@keyframes right-lower-arm {
	0%{
		transform:rotate(125deg) translate(59px, 79px);
		height: 36px;
	}
	10%{
		transform: rotate(118deg) translate(59px, 79px);
		height: 36px;
	}
	20%{
		transform: rotate(120deg) translate(85px, 55px);
		height: 30px;
	}
	30%{
		transform: rotate(134deg) translate(109px, 9px);
		height: 36px;
	}
	100%{
		transform:rotate(125deg) translate(59px, 79px);
		height: 36px;
	}
}

#left-upper-arm {
	height: 76px;
	width: 15px;
	background-color: black;
	/* animation: left-upper-arm 0.6s 0.5s infinite normal; */
	transform: rotate(143deg) translate(17px, -23px);
	border-radius: 15px;
	position: absolute;
}

@keyframes left-upper-arm {
	0%{
		transform: rotate(164deg) translate(5px, -28px);
		height: 76px;
	}
	10%{
		transform: rotate(154deg) translate(3px, -16px);
		height: 76px;
	}
	20%{
		transform: rotate(141deg) translate(14px, -20px);
		height: 76px;
	}
	30%{
		transform: rotate(143deg) translate(17px, -23px);
		height: 76px;
	}
	100%{
		transform: rotate(164deg) translate(5px, -28px);
		height: 76px;
	}
}

#left-lower-arm {
	height: 32px;
	width: 15px;
	background-color: black;
	/* animation: left-lower-arm 0.6s 0.5s infinite normal; */
	transform: rotate(50deg) translate(71px, 43px);
	border-radius: 15px;
	position: absolute;
}

@keyframes left-lower-arm {
	0%{
		transform: rotate(130deg) translate(41px, -21px);
		height: 68px;
	}
	10%{
		transform: rotate(118deg) translate(41px, -21px);
		height: 57px;
	}
	20%{
		transform: rotate(78deg) translate(76px, 2px);
		height: 32px;
	}
	30%{
		transform: rotate(50deg) translate(71px, 43px);
		height: 32px;
	}
	100%{
		transform: rotate(130deg) translate(41px, -21px);
		height: 68px;
	}
}

#spine {
	height: 138px;
	width: 15px;
	background-color: black;
	/* animation: spine 0.6s 0.5s infinite normal; */
	transform: rotate(-11deg) translate(-44px, 16px);
	border-radius: 15px;
	position: absolute;
}

@keyframes spine {
	0%{
		transform: rotate(0deg) translate(-21px, 17px);
		height: 123px;
	}
	10%{
		transform: rotate(0deg) translate(-21px, 17px);
		height: 138px;
	}
	20%{
		transform: rotate(-3deg) translate(-31px, 18px);
		height: 138px;
	}
	30%{
		transform: rotate(-11deg) translate(-44px, 16px);
		height: 138px;
	}
	100%{
		transform: rotate(0deg) translate(-21px, 17px);
		height: 123px;
	}
}

#right-upper-leg {
	height: 99px;
	width: 15px;
	background-color: black;
	/* animation: right-upper-leg 0.6s 0.5s infinite normal; */
	transform: rotate(42deg) translate(49px, 140px);
	border-radius: 15px;
	position: absolute;
}

@keyframes right-upper-leg {
	0%{
		transform: rotate(115deg) translate(89px, 21px);
		height: 95px;
	}
	10%{
		transform: rotate(115deg) translate(97px, 19px);
		height: 91px;
	}
	20%{
		transform: rotate(45deg) translate(57px, 134px);
		height: 91px;
	}
	30%{
		transform: rotate(42deg) translate(49px, 140px);
		height: 99px;
	}
	100%{
		transform: rotate(115deg) translate(89px, 21px);
		height: 95px;
	}
}

#right-lower-leg {
	height: 52px;
	width: 15px;
	background-color: black;
	/* animation: right-lower-leg 0.6s 0.5s infinite normal; */
	transform: rotate(138deg) translate(194px, -104px);
	border-radius: 15px;
	position: absolute;
}

@keyframes right-lower-leg {
	0%{
		transform: rotate(172deg) translate(106px, -81px);
		height: 47px;
	}
	10%{
		transform: rotate(178deg) translate(96px, -102px);
		height: 43px;
	}
	20%{
		transform: rotate(141deg) translate(176px, -111px);
		height: 66px;
	}
	30%{
		transform: rotate(138deg) translate(194px, -104px);
		height: 52px;
	}
	100%{
		transform: rotate(172deg) translate(106px, -81px);
		height: 47px;
	}
}

#left-upper-leg {
	height: 101px;
	width: 15px;
	background-color: black;
	/* animation: left-upper-leg 0.6s 0.5s infinite normal; */
	transform: rotate(-86deg) translate(-100px, 29px);
	border-radius: 15px;
	position: absolute;
}

@keyframes left-upper-leg {
	0%{
		transform: rotate(-12deg) translate(-41px, 117px);
		height: 67px;
	}
	10%{
		height: 73px;
		transform: rotate(-22deg) translate(-62px, 122px);
	}
	20%{
		transform: rotate(-33deg) translate(-84px, 115px);
		height: 88px;
	}
	30%{
		transform: rotate(-86deg) translate(-100px, 29px);
		height: 101px;
	}
	100%{
		transform: rotate(-12deg) translate(-41px, 117px);
		height: 67px;
	}
}

#left-lower-leg {
	height: 66px;
	width: 15px;
	background-color: black;
	/* animation: left-lower-leg 0.6s 0.5s infinite normal; */
	transform: rotate(52deg) translate(137px, 51px);
	border-radius: 15px;
	position: absolute;
}

@keyframes left-lower-leg {
	0%{
		transform: rotate(12deg) translate(22px, 177px);
		height: 71px;
	}
	10%{
		transform: rotate(29deg) translate(83px, 175px);
		height: 58px;
	}
	20%{
		transform: rotate(53deg) translate(162px, 124px);
		height: 51px;
	}
	30%{
		transform: rotate(52deg) translate(137px, 51px);
		height: 66px;
	}
	100%{
		transform: rotate(12deg) translate(22px, 177px);
		height: 71px;
	}
}
