body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
}

#left-lower-arm {
	height: 33px;
	width: 15px;
	background-color: black;
	animation: left-lower-arm 0.8571428572s 0.5s infinite normal;
	transform: rotate(89deg) translate(90px, -22px);
	border-radius: 15px;
	position: absolute;
}

@keyframes left-lower-arm {
	0%{
		transform: rotate(130deg) translate(41px, -21px);
		height: 68px;
	}
	10%{
		transform: rotate(118deg) translate(41px, -21px);
		height: 57px;
	}
	20%{
		transform: rotate(78deg) translate(76px, 2px);
		height: 32px;
	}
	30%{
		transform: rotate(50deg) translate(71px, 43px);
		height: 32px;
	}
	40%{
		transform: rotate(50deg) translate(13px, -27px);
		height: 32px;
	}
	50%{
		transform: rotate(41deg) translate(6px, -24px);
		height: 32px;
	}
	60%{
		transform: rotate(26deg) translate(6px, -23px);
		height: 32px;
	}
	70%{
		transform: rotate(26deg) translate(22px, -8px);
		height: 38px;
	}
	80%{
		transform: rotate(76deg) translate(73px, -10px);
		height: 33px;
	}
	90%{
		transform: rotate(89deg) translate(90px, -22px);
		height: 33px;
	}
	100%{
		transform: rotate(130deg) translate(41px, -21px);
		height: 68px;
	}
}

#spine {
	height: 138px;
	width: 15px;
	background-color: black;
	animation: spine 0.8571428572s 0.5s infinite normal;
	transform: rotate(12deg) translate(-9px, 29px);
	border-radius: 15px;
	position: absolute;
}

@keyframes spine {
	0%{
		transform: rotate(0deg) translate(-21px, 17px);
		height: 123px;
	}
	10%{
		transform: rotate(0deg) translate(-21px, 17px);
		height: 138px;
	}
	20%{
		transform: rotate(-3deg) translate(-31px, 18px);
		height: 138px;
	}
	30%{
		transform: rotate(-11deg) translate(-44px, 16px);
		height: 138px;
	}
	40%{
		transform: rotate(-11deg) translate(-56px, -5px);
		height: 138px;
	}
	50%{
		transform: rotate(-11deg) translate(-56px, -5px);
		height: 138px;
	}
	60%{
		transform: rotate(-7deg) translate(-50px, 12px);
		height: 138px;
	}
	70%{
		transform: rotate(0deg) translate(-36px, 13px);
		height: 138px;
	}
	80%{
		transform: rotate(7deg) translate(-16px, 29px);
		height: 138px;
	}
	90%{
		transform: rotate(12deg) translate(-9px, 29px);
		height: 138px;
	}
	100%{
		transform: rotate(0deg) translate(-21px, 17px);
		height: 123px;
	}
}

#right-upper-leg {
	height: 70px;
	width: 15px;
	background-color: black;
	animation: right-upper-leg 0.8571428572s 0.5s infinite normal;
	transform: rotate(79deg) translate(111px, 85px);
	border-radius: 15px;
	position: absolute;
}

@keyframes right-upper-leg {
	0%{
		transform: rotate(115deg) translate(89px, 21px);
		height: 95px;
	}
	10%{
		transform: rotate(115deg) translate(97px, 19px);
		height: 91px;
	}
	20%{
		transform: rotate(45deg) translate(57px, 134px);
		height: 91px;
	}
	30%{
		transform: rotate(42deg) translate(49px, 140px);
		height: 99px;
	}
	40%{
		transform: rotate(38deg) translate(19px, 140px);
		height: 90px;
	}
	50%{
		transform: rotate(38deg) translate(19px, 140px);
		height: 90px;
	}
	60%{
		transform: rotate(39deg) translate(37px, 147px);
		height: 90px;
	}
	70%{
		transform: rotate(41deg) translate(41px, 138px);
		height: 86px;
	}
	80%{
		transform: rotate(47deg) translate(63px, 138px);
		height: 86px;
	}
	90%{
		transform: rotate(79deg) translate(111px, 85px);
		height: 70px;
	}
	100%{
		transform: rotate(115deg) translate(89px, 21px);
		height: 95px;
	}
}

#right-lower-leg {
	height: 62px;
	width: 15px;
	background-color: black;
	animation: right-lower-leg 0.8571428572s 0.5s infinite normal;
	transform: rotate(165deg) translate(121px, -130px);
	border-radius: 15px;
	position: absolute;
}

@keyframes right-lower-leg {
	0%{
		transform: rotate(172deg) translate(106px, -81px);
		height: 47px;
	}
	10%{
		transform: rotate(178deg) translate(96px, -102px);
		height: 43px;
	}
	20%{
		transform: rotate(141deg) translate(176px, -111px);
		height: 66px;
	}
	30%{
		transform: rotate(138deg) translate(194px, -104px);
		height: 52px;
	}
	40%{
		transform: rotate(136deg) translate(188px, -77px);
		height: 52px;
	}
	50%{
		transform: rotate(136deg) translate(188px, -77px);
		height: 52px;
	}
	60%{
		transform: rotate(146deg) translate(178px, -125px);
		height: 52px;
	}
	70%{
		transform: rotate(167deg) translate(119px, -176px);
		height: 62px;
	}
	80%{
		transform: rotate(154deg) translate(152px, -145px);
		height: 62px;
	}
	90%{
		transform: rotate(165deg) translate(121px, -130px);
		height: 62px;
	}
	100%{
		transform: rotate(172deg) translate(106px, -81px);
		height: 47px;
	}
}

#left-upper-leg {
	height: 59px;
	width: 15px;
	background-color: black;
	animation: left-upper-leg 0.8571428572s 0.5s infinite normal;
	transform: rotate(-27deg) translate(-78px, 123px);
	border-radius: 15px;
	position: absolute;
}

@keyframes left-upper-leg {
	0%{
		transform: rotate(-12deg) translate(-41px, 117px);
		height: 67px;
	}
	10%{
		height: 73px;
		transform: rotate(-22deg) translate(-62px, 122px);
	}
	20%{
		transform: rotate(-33deg) translate(-84px, 115px);
		height: 88px;
	}
	30%{
		transform: rotate(-86deg) translate(-100px, 29px);
		height: 101px;
	}
	40%{
		transform: rotate(-103deg) translate(-72px, -18px);
		height: 101px;
	}
	50%{
		transform: rotate(-103deg) translate(-72px, -18px);
		height: 101px;
	}
	60%{
		transform: rotate(-104deg) translate(-92px, -23px);
		height: 91px;
	}
	70%{
		transform: rotate(-63deg) translate(-107px, 51px);
		height: 91px;
	}
	80%{
		transform: rotate(-30deg) translate(-85px, 119px);
		height: 59px;
	}
	90%{
		transform: rotate(-27deg) translate(-78px, 123px);
		height: 59px;
	}
	100%{
		transform: rotate(-12deg) translate(-41px, 117px);
		height: 67px;
	}
}

#left-lower-leg {
	height: 57px;
	width: 15px;
	background-color: black;
	animation: left-lower-leg 0.8571428572s 0.5s infinite normal;
	transform: rotate(9deg) translate(23px, 189px);
	border-radius: 15px;
	position: absolute;
}

@keyframes left-lower-leg {
	0%{
		transform: rotate(12deg) translate(22px, 177px);
		height: 71px;
	}
	10%{
		transform: rotate(29deg) translate(83px, 175px);
		height: 58px;
	}
	20%{
		transform: rotate(53deg) translate(162px, 124px);
		height: 51px;
	}
	30%{
		transform: rotate(52deg) translate(137px, 51px);
		height: 66px;
	}
	40%{
		transform: rotate(28deg) translate(77px, 77px);
		height: 66px;
	}
	50%{
		transform: rotate(28deg) translate(77px, 77px);
		height: 66px;
	}
	60%{
		transform: rotate(8deg) translate(51px, 120px);
		height: 56px;
	}
	70%{
		transform: rotate(24deg) translate(91px, 151px);
		height: 56px;
	}
	80%{
		transform: rotate(9deg) translate(23px, 189px);
		height: 64px;
	}
	90%{
		height: 57px;
	}
	100%{
		transform: rotate(12deg) translate(22px, 177px);
		height: 71px;
	}
}
